@model BeautyCenter.Models.Uslugi

<h1>@Model.IdOddelNavigation.ImeOddel</h1>
<br />
<h3>@Model.ImeUsluga</h3>
<br />
<h4>Цена</h4>
<p>
    @Model.CenaUsluga
</p>
<h4>Опис на услугата</h4>
<p>
    @Model.OpisUsluga
</p>
