
@model IEnumerable<BeautyCenter.Models.Opshtini>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>

<form asp-controller="Home" asp-action="Registracija" method="post">
    <fieldset>
        <legend>Регистрација</legend>

        <div class="form-group">
            <label>Име и презиме</label>
            <input type="text" class="form-control" name="imeIprezime" id="imeIprezime" data-val="true"
                   data-val-required="Полето е задолжително">
            <span class="field-validation-valid" data-valmsg-for="imeIprezime" data-valmsg-replace="true"></span>

        </div>
        <div class="form-group">
            <label>Email адреса</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email"
                   data-val="true"
                   data-val-required="Полето е задолжително"  data-val-email="Невалидна адреса"/>
            <span class="field-validation-valid" data-valmsg-for="email" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label>Лозинка</label>
            <input type="password" class="form-control" name="lozinka" id="lozinka" data-val="true"
                   data-val-required="Полето е задолжително">
            <span class="field-validation-valid" data-valmsg-for="lozinka" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label>Телефонски број</label>
            <input type="text" class="form-control" name="telBroj" data-val="true" data-val-required="Полето е задолжително">
            <span class="field-validation-valid" data-valmsg-for="telBroj" data-valmsg-replace="true"></span>
        </div>

        <fieldset class="form-group">
            <legend>Општина</legend>

            @foreach (var item in Model)
            {
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" name="opshtina" checked="" value="@item.NazivOpshtina">
                        @item.NazivOpshtina
                    </label>
                </div>
            }
        </fieldset>

        <button type="submit" class="btn btn-secondary">Регистрирај се</button>
    </fieldset>
</form>
