@model IEnumerable<BeautyCenter.Models.Saloni>
@{ 
    ViewData["Title"] = "Search";
}
<h2>Салони</h2>
<br />
<form asp-controller="Home" asp-action="Search" method="get">
    <p>
        <input type="text" name="SearchString" />
        <input type="submit" value="Барај" class="btn btn-secondary"/>
    </p>
</form>
<table class="table">
    <tr>
        <th>Име</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home" asp-action="Salon" asp-route-id="@item.IdSalon">@Html.DisplayFor(modelIdem => item.ImeSalon)</a>
            </td>
        </tr>
    }
</table>
