@{
    Layout = "~/Views/Shared/ProfilKlient.cshtml";
}

@{ 
    
}

    <div class="alert alert-dismissible alert-light">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @ViewData["Message"]
    </div>