@model IEnumerable<BeautyCenter.Models.Termini>
@{
    Layout = "~/Views/Shared/ProfilKlient.cshtml";
}

<h3>Искористени</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                Име услуга
            </th>
            <th>
                Оддел
            </th>
            <th>
                Салон
            </th>
            <th>
                Датум
            </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            @if (item.Datum < DateTime.Now)
            {
        <tr>
            @if (item.IdUslugaNavigation != null)
            {
                <td>
                    @item.IdUslugaNavigation.ImeUsluga
                </td>
            }

            @if (item.IdUslugaNavigation.IdOddelNavigation != null)
            {
                <td>
                    @item.IdUslugaNavigation.IdOddelNavigation.ImeOddel
                </td>
            }

            @if (item.IdUslugaNavigation.IdOddelNavigation.IdSalonNavigation != null)
            {
                <td>
                    @item.IdUslugaNavigation.IdOddelNavigation.IdSalonNavigation.ImeSalon
                </td>
            }
            <td>
                @item.Datum
            </td>
            <td>
                @if (item.Komentar == null)
                {
                <form >
                    <div class="form-group">
                        <textarea class="form-control" id="komentar" rows="3" name="komentar"></textarea>
                        <input type="submit" value="Постави коментар" />
                    </div>
                </form>
                    
                }
            </td>
            

        </tr>

                
                
            }



        }
    </tbody>
</table>
        
       
  

            
            
        


    
