@{
    Layout = "~/Views/Shared/ProfilKlient.cshtml";
}
@model IEnumerable<BeautyCenter.Models.Omileni>

<h2>Мои омилени услуги</h2>
<table class="table">
    <thead>
        <tr>
            <th>Услуга</th>
            <th>Оддел</th>
            <th>Салон</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                        @item.IdUslugaNavigation.ImeUsluga
                </td>
                <td>
                        @item.IdUslugaNavigation.IdOddelNavigation.ImeOddel
                </td>
                <td>
                        @item.IdUslugaNavigation.IdOddelNavigation.IdSalonNavigation.ImeSalon
                </td>
            </tr>
        }
    </tbody>
</table>

