@model ICollection<BeautyCenter.Models.Uslugi>

@{
    Layout = "~/Views/Shared/ProfilKlient.cshtml";
}



@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem=>item.ImeUsluga)</td>
        
    </tr>
}