@model IEnumerable<BeautyCenter.Models.Termini>

@{
    Layout = "~/Views/Shared/MenadzerProfil.cshtml";
}

    <table class="table">
        
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem=>item.IdVrabotenNavigation.ImeVraboten)</td>
            </tr>
        }
    </table>