@model BeautyCenter.Models.Menadzer

@{
    Layout = "~/Views/Shared/MenadzerProfil.cshtml";
}

<h1>
    @User.Identity.Name
</h1>
<table class="table">
        <thead>
        <th>
        <tr>
            <td>
                Име вработен
            </td>
            <td>
                Работно место
            </td>
        </tr>


        </th>
        </thead>
        <tbody>
           @if(Model.Oddeli!=null)
           {
               @foreach(var item in Model.Oddeli)
               {
                   <tr>
                       <td>
                           @item.ImeOddel
                       </td>
                   </tr>
               }
           }
           @if(Model.IdVrabotenMenadzerNavigation!=null)
           {
               
           }

        </tbody>

    </table>
    

