@model IEnumerable<BeautyCenter.Models.Uslugi>


@{
    ViewBag.Title = "Uslugi";

}

<h2>Услуги</h2>

<table class="table">
    <tr>
        <th>Име на услугата</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeUsluga)
            </td>
        </tr>
    }
</table>